<h1>Person Data</h1>
<p>This component fetches Person data from the server.</p>
<p *ngIf="!personList">
    <em>Loading...</em>
</p>
<p>
    <a [routerLink]="['/register-person']" class="btn btn-primary"><span class='glyphicon glyphicon-plus'></span> Create New</a>
    <a [routerLink]="" (click)="refresh()" class="btn btn-primary"><span class='glyphicon glyphicon-refresh'></span> Refresh</a>
</p>

<table class='table' *ngIf="personList">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let person of personList">
            <td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.latitude }}</td>
            <td>{{ person.longitude }}</td>
            <td>
            <td>
                <a [routerLink]="" (click)="getClosestFriends(person.id)" ><span class='glyphicon glyphicon-user'></span> Closest Friends</a>
            </td>
            <td>                
                <a [routerLink]="" (click)="delete(person.id)"><span class='glyphicon glyphicon-trash'></span> Delete</a>
            </td>
        </tr>
    </tbody>
</table>